.tabela-listagem {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1rem 0;
}

.tabela-listagem-head-row>th, .tabela-listagem-body-row>td {
    color: var(--cor-primaria);
    text-align: center;
    white-space: nowrap;
}

.tabela-listagem button {
    border: none;
    background: none;
    width: 1rem;
}

.tabela-listagem button>img {
    width: 100%;
}

.tabela-listagem-edit-remove-icons {
    display: flex;
    gap: .6rem;
}