:root{
    --cor-primaria: #0F8AE1;
    --cor-branco: #FFFFFF;
    --cor-preto:#000000;
    --cor-cinza: #B7B7B7;
    --cor-vermelho: #D00F0F;
    --cor-azul-claro: #9DCFF3;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 16px;
}