@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-primaria: #0F8AE1;
    --cor-branco: #FFFFFF;
    --cor-preto:#000000;
    --cor-cinza: #B7B7B7;
    --cor-vermelho: #D00F0F;
    --cor-azul-claro: #9DCFF3;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 12px;
    font-family: "Inter", sans-serif;
  }

.titulo1{
  font-size: 6.75rem;
}
.titulo2{
  font-size: 4.375rem;
}
.titulo3{
  font-size: 1.5rem;
}
.paragrafo1{
  font-size: 1.82rem;
}
.paragrafo2{
  font-size: 1.2rem;
}
.paragrafo3{
  font-size: 1rem;
}

body{
  min-height: 100vh;
  min-width: 100vw;
}

ul, ol {
  list-style: none;      /* Remove os marcadores (bullets ou números) */
  padding: 0;            /* Remove o recuo padrão */
  margin: 0;             /* Remove a margem padrão */
}

