body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0 3rem 20%;
    
}

p.paragrafo1 {
    color: black;
}

.main-content {
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.main-content-options-div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tela-cadastrar-movimentacao-interna-botoes-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tela-cadastrar-movimentacao-interna-botoes-div>.botao {
    max-width: 20%;
    height: 3.5rem;
    width: 100%;
}

.tela-cadastrar-movimentacao-interna-botoes-div .botao-branco {
    background-color: var(--cor-branco);
    border: .2rem solid var(--cor-primaria);
    color: var(--cor-primaria);
}

.dose-unidade-div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1%;
}

.input-de-data {
    width: auto;
}

.validade-div {
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: space-between;

}

#input-descricao {
    padding: 1rem;
    height: 10rem;
}


@media screen and (max-width: 1100px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 940px) {

    #barra-lateral {
        max-width: 30%;
    }

    main {
        padding-left: 30%;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 610px) {
    html {
        font-size: 6px;
    }
}