body {
  display: flex;
  min-height: 100vh;
  background-color: var(--cor-branco);
  width: 100%;
}

.caixa-login {
  border: 2px solid var(--cor-primaria);
  border-radius: 0.8rem;
  padding: 2.5rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.login-input {
  padding: 0.8rem;
  border: none;
  border-radius: 1.6rem;
  background-color: var(--cor-cinza);
  font-size: 1.1rem;
  outline: none;
}

.grupo-botoes {
  display: flex;
  justify-content: space-between;
}

.div-caixa-login {
  max-width: 50%;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.div-azul {
  max-width: 50%;
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: center;
  align-items: center
}

.div-azul img {
  width: 80%;
}

@media screen and (max-width:600px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  body {

    flex-direction: column-reverse;
  }

  .div-caixa-login {
    max-width: 100vw;
    min-height: 50vh;
    width: 100%;
    height: 100%;
  }

  .div-azul {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    min-height: 50vh;
  }

  .div-azul img {
    width: 80%;
  }
}